@{
    ViewBag.Title = "Register1";
    Layout = null;
}
<div style="width: 100%; align-content: center;">
    <div style="margin: auto; padding: 10px; width: fit-content; border: 1px solid black;">
        <h3 style="margin: auto">THÔNG TIN SINH VIÊN</h3>
        <form name="f1" action="/SinhVien_64131060/Register2" method="post">
            <div style="padding: 2px">
                <b>Mã sinh viên: </b><input style="margin-left: 10px;" type="text" name="Id" /> <br />
            </div>
            <div style="padding: 2px">
                <b>Họ và tên: </b><input style="margin-left: 32px;" type="text" name="Name" /> <br />
            </div>
            <div style="padding: 2px">
                <b>Điểm: </b><input style="margin-left: 62px;" type="text" name="Marks" />
            </div>
            <div style="padding: 2px">
                <input style="margin-left: 110px" type="submit" value="Đăng ký" />
            </div>
        </form>
    </div>
</div>
