
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="margin-left: 10px;">Giới Thiệu</h2>
<hr />
<table style="font-size: 20px; margin-bottom: 10px; margin-left: 20px;">
    <tr>
        <th>
            Mã Sinh Viên:
        </th>
        <td>
            64131060
        </td>
    </tr>
    <tr>
        <th>
            Họ Tên Sinh Viên:
        </th>
        <td>
            Phạm Tuấn Kiệt
        </td>
    </tr>
    <tr>
        <th>
            Lớp:
        </th>
        <td>
            64.CNTT-4
        </td>
    </tr>
    <tr>
        <th>
            Ngày Kiểm Tra:
        </th>
        <td>
            10/15/2024
        </td>
    </tr>
</table>

