@model BaiTap6_64131060.Models.PhongBan

@{
    ViewBag.Title = "Xóa phòng ban";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color:red;">Bạn có chắc chắn là muốn xóa phòng ban này ?</h3>
<div>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <div style="margin-left: 20px;">
                <b>Tên phòng ban:</b> @Html.DisplayFor(model => model.TenPB)
            </div>
        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>

